<nav>
    <div>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="#" class="nav-link active">Design</a></li>
                <li><a href="#">Inspiration</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Politics</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Fashion</a></li>
            </ul>
        </div>
    </div>
</nav>